@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    width: 100%;
    max-width: 35rem;
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: v.$bold;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.5s ease-out;

    &.error{
        background-color: v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }

    &.fade-out {
        opacity: 0;
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        transition: opacity 0.5s ease-out, visibility 0s 0.5s;
    }
}
